html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: #1b1b1f;
}
body {
    min-width: 12em;
}

.iad-nav {
    list-style: none;
    padding: 0;
    margin: 4px 0;
}
.iad-nav-item {
    display: block;
    margin: 0;
}
.iad-nav-item > div, a {
    display: block;
    padding: 5px 25px 5px 15px;
    line-height: 1.5em;
    color: #c7c7cc;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
.iad-nav-item > div:hover, a:hover {
    text-decoration: none;
    background-color: #323236;
}
.iad-divider {
    height: 1px;
    overflow: hidden;
    background-color: #444448;
    margin: 6px 0;
}
